= form_with model: [tweet, comment], url: tweet_comments_path(@tweet) do |f|
  - if comment.errors.any?
    #error_explanation
      %ul
        - comment.errors.full_messages.each do |message|
          %li= message  
  %div
    = f.text_area :content, class: 'sm  form-control js-text'
    %p.js-text-count.pull-left
  .attention.text-danger.pull-right
    %p ※不適切と思われるコメントとアカウントに関しては、運営より削除される場合があります。
  .actions.pt-3
    = f.submit "コメントをする", class: 'btn-secondary'
