$("#comments_area").html("#{escape_javascript(render 'index', { comments: @comment.tweet.comments })}")
$("#error_explanation").html("#{escape_javascript(render 'error', { comment: @comment })}")
$("textarea").val('')
