- complaints.each do |complaint|
  - unless complaint.id.nil?
    .card
      .card-body
        = complaint.content
      .card_trush
        %i.fa.fa-trash.fa-lg{"aria-hidden" => "true"}
          = link_to '削除する', complaint_path(complaint), data: { method: 'delete', remote: true, confirm: '本当に削除してもよろしいですか？' }
      .card_time.small.text-muted.text-right
        = time_ago_in_words(complaint.created_at).upcase

-# , method: :delete, remote: true do
-# , data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }