.container
  %ul
    - complaint.errors.full_messages.each do |message|
      %li= message
  = form_with model: complaint, url: complaints_path do |f|
    %div
      = f.text_area :content, class: 'sm form-control js-text'
      %p.js-text-count.pull-left
    .actions.pt-3
      = f.submit "グチる", class: 'btn-secondary'
