.container
  = form_with model: complaint, url: complaints_path do |f|
    %div
      = f.text_area :content, class: 'sm'
    .actions.pt-3
      = f.submit "グチる", class: 'btn-secondary'





-# .container
-#   %ul
-#     - @complaint.errors.full_messages.each do |message|
-#       %li= message
-#   = form_with(model: @complaint, local: true) do |f|
-#     %div
-#       = f.label :content, '内容'
-#     %div
-#       = f.text_area :content
-#     = f.submit '保存', class: 'btn-first'