.container
  .complaint_title
    %h2 グチる
  .complaint_introduction.mb-3
    .row.g-0
      .col-md-4
        .card-img-top
          = image_tag 'junping_man.png'
      .col-md-8
        .card-body
          %h5.card-title その日のグチはその日のうちに吐き出そう。
          %p.card-text あなたのたまったグチ。全て受け止めます。あなただけのこの場所で思いを存分に吐き出して、明日を迎えましょう。
  .complaint_list
    %h3 List
  #complaint_index_new
    = render 'complaint_new', complaints: @complaints
  #error_explanation
  - if user_signed_in?
    .complaint_create
      -# %h3.text-center 思いを吐き出せ！
      = render partial: 'form', locals: { complaint: @complaint}
