- notifications = @notifications.where.not(visitor_id: current_user.id)
.container
  .notification-title
    %h4 通知一覧
  %hr
  - if notifications.exists?
    = render @notifications
  - else
    .text-center.pt-2
      %p 通知はありません
= paginate @notifications