.container
  = render 'commons/tabs'
  - tweets.each do |tweet|
    = render 'commons/tweet', tweet: tweet
  = link_to new_tweet_path do
    .float_btn
      %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
= paginate tweets
