.container
  .follow
    %h2 フォロワー
  .card
  - @followers.each do |follower|
    = link_to account_path(follower.id) do
      .row.no-gutters
        .col-md-4
          = image_tag follower.avatar_image
        .col-md-8
          .card-body
            %h5.card-title 
              = follower.account
            %p.card-text
              = follower.introduction
      .card