@import './variables';

$heart-size: 16px;
$avatar-size: 32px;

.card-cover {
  a{
    text-decoration: none;
  }
}
.card {
  background-color: white;
  margin: 16px 0;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

  &_heart {
    display: flex;

    span {
      margin-left: 8px;
      margin-right: 5px;
      font-size: 12px;
      font-weight: bold;
      color: $primary-color;
      line-height: $heart-size;
    }
  }

  &_various-count {
    display: flex;
    flex-wrap:wrap;
    margin-top: 5px;
  }

  &_comment {
    display: flex;
    flex-wrap:wrap;
    margin-left: 4px;

    span {
      margin-left: 8px;
      margin-right: 5px;
      font-size: 12px;
      font-weight: bold;
      color: $primary-color;
      line-height: $heart-size;
    }
  }

  &_detail {
    padding-top: 12px;
    cursor: pointer;
    display: flex;
    font-size: 10px;

    img {
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 100%;
      margin-right: 8px;
    }

    &_introduction {

      &_personal {
        display: flex;

        &_account {
          padding-right: 12px;
        }
      }

    }
  }

  &_element {
    padding: 16px 16px;
  }

  &_element:hover {
    color: black;
  }

  &_image {
    height: 230px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    margin: 10px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }

  &_time {
    padding-right: 10px;
  }

  &_trush {
    font-size: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
  }

  &_time {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

}