@import './variables';

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  font-weight: normal;
  display: none;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  
  &.mini {
    min-width: 100px;
  }
}

.dropdown-content a {
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  color: $text-base-color;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.pagination {
  justify-content: center;
}

// リスト
.lists {
  padding-top: 15px;
  img {
    width: 80px;
    height: 80px;
    margin: 15px;
  }
  h2 {
    padding-bottom: 15px;
    border-bottom: solid 3px #cce4ff;
    position: relative;
    text-align: center;
    font-weight: bold;
  }

  h2:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px #5472cd;
    bottom: -3px;
    width: 20%;
  }
}
