.notification-title {
  text-align: center;
}

.form-inline {
  img {
    width: 35px;
    height: 35px;
  }
}

.n-circle {
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #efa04c;
}